<div class="boxlinks-inner component-inner">
	{{> component this}}
    <div class="boxlinks-widget component-widget">
		{{#each _items}}
			<a href="{{{_URL}}}" class="link-button">{{{_label}}}</a>
			{{/each}}
	</div>
</div>